/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    font-family: monospace;
    background: linear-gradient(-45deg, #D16BA5, #D16BA5, #5FFBF1, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Utils */

/* Causl numbers cell */
h1{
    text-align: center;
    font-size: 50px;
    color: lightgreen;
    text-shadow: 0 0 5px #23d5ab;
}

.container{
    max-width: 600px;
    margin: 20px auto;
}
.casual-numbers{
    width: calc(100% / 6);
    height: 80px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    border-radius: 12px;
    line-height: 80px;
    background-color: white;
    color: #D16BA5;
    border: 1px solid #D16BA5;
}

.user-input{
    margin-top: 20px;
    width: calc(100% / 6);
    height: 80px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    border-radius: 12px;
    line-height: 80px;
    background-color: white;
    color: #D16BA5;
    border: 1px solid #D16BA5;
}

.casual-numbers:hover, .user-input:hover{
    background-color: gray;
    font-weight: bold;
}

.casual-numbers:hover{
    cursor: not-allowed;
}

.user-input:hover{
    cursor: pointer;
}
    
.btn-container{
    display: flex;
    width: 90%;
    justify-content: space-between;
}

button{
    display: block;
    padding: 10px 15px;
    margin: 20px 5px;
    border-radius: 15px;
    background-color: lightgreen;
    color: #D16BA5;
    display: inline-block;
}

button:hover{
    background-color: aquamarine;
    font-weight: bold;
    text-shadow: 0 0 2px #23d5ab;
}

button:active{
    background-color: lightgreen;
}

#result{
    margin-top: 30px;
    font-size: 15px;
    color: white;
    text-shadow: 0 0 5px;
}
